---
import DateLabel from "../../../components/date/DateLabel";
import Debug from "../../../layouts/debug.astro";
import { OPTIONS, TEAMS } from "../../../mockup";
import { asUrl } from "../../../utils";

const { team_id } = Astro.params;

const team = TEAMS.find(t => t.id === team_id);
if (!team) {
  return Astro.redirect('/teams', 302);
}

const lists = team.lists;

---
<Debug
  title="Lists"
  description="Manage your lists"
  options={OPTIONS['lists']}
>
  <section>
    <h1>Select a list or create one</h1>
  </section>
  <section class="col gap">
    {lists.map(list => (
      <a href={asUrl(`./${list.id}`, Astro)}>
        <div class="list-card col">
          <div class="row gap space-between">
            <h2>{list.name}</h2>
            <label>
              Total {"XXX"} elements
            </label>
          </div>
          <div class="row gap space-between">
            <div class="col">
              {list.description &&
                <p>{list.description}</p>
              }
              <p>
                Last modified by {list.updatedBy} at
                <DateLabel client:only date={list.updatedAt} />
              </p>
            </div>
            <div class="col">
              {list.image &&
                <img src={list.image} alt={list.name} />
              }
            </div>
          </div>
        </div>
      </a>
    ))}
  </section>
  <section>
    <a href={asUrl("./new", Astro)} class="btn btn-primary">Create a new list</a>
  </section>
</Debug>

<style>
  .list-card {
    --img-size: 128px;

    padding: 1rem;
    border: 2px solid var(--border);
    border-radius: 0.5rem;

    display: flex;
  }

  .list-card img {
    aspect-ratio: 1 / 1;
    width: var(--img-size);
    height: auto;
    object-fit: cover;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
  }
</style>
