---
import teamService, { client as teamServiceClient } from "../../../api/versions/v1/teamService";
import DateLabel from "../../../components/date/DateLabel";
import Page from "../../../layouts/page.astro";
import { OPTIONS, TEAMS } from "../../../mockup";
import { asUrl, previousPageUrl } from "../../../utils";

const { team_id } = Astro.params;

if (!team_id) {
  return Astro.redirect('/teams', 302);
}

teamServiceClient.addToken(Astro.cookies.get("jwt")!.value);
const result = await teamService.getTeam(team_id);
if (result.isErr()) {
  console.error("Unable to get team:", result.unwrapErr());
  return Astro.redirect("/teams");
}

const team = result.unwrap().data;

const lists = TEAMS[0].lists;

---
<Page
  title="Lists"
  description="Manage your lists"
  options={[
    { name: 'Back', url: previousPageUrl(Astro) },
    ...OPTIONS['lists']
  ]}
  icon={team.image}
>
  <section>
    <h1>Select a list or create one</h1>
  </section>
  <section class="col gap">
    {lists.map(list => (
      <a href={asUrl(`./${list.id}`, Astro)}>
        <div class="list-card col">
          <div class="row gap space-between">
            <h2>{list.name}</h2>
            <label>
              Total {"XXX"} elements
            </label>
          </div>
          <div class="row gap space-between">
            <div class="col">
              {list.description &&
                <p>{list.description}</p>
              }
              <p>
                Last modified by {list.updatedBy} at
                <DateLabel client:only date={list.updatedAt} />
              </p>
            </div>
            <div class="col">
              {list.image &&
                <img src={list.image} alt={list.name} />
              }
            </div>
          </div>
        </div>
      </a>
    ))}
  </section>
  <section>
    <a href={asUrl("./new", Astro)} class="btn btn-primary">Create a new list</a>
  </section>
</Page>

<style>
  .list-card {
    --img-size: 128px;

    padding: 1rem;
    border: 2px solid var(--border);
    border-radius: 0.5rem;

    display: flex;
  }

  .list-card img {
    aspect-ratio: 1 / 1;
    width: var(--img-size);
    height: auto;
    object-fit: cover;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
  }
</style>
