---
import teamService, { client as teamServiceClient } from "../../../api/versions/v1/teamService";
import DateLabel from "../../../components/date/DateLabel";
import Page from "../../../layouts/page.astro";
import { OPTIONS, TEAMS } from "../../../mockup";
import { previousPageUrl } from "../../../utils";

const { team_id } = Astro.params;

if (!team_id) {
  return Astro.redirect('/teams', 302);
}

teamServiceClient.addToken(Astro.cookies.get("jwt")!.value);
const result = await teamService.getTeam(team_id);
if (result.isErr()) {
  console.error("Unable to get team:", result.unwrapErr());
  return Astro.redirect("/teams");
}

const team = result.unwrap().data;
const teamName = team.display_name || team.name;
const products = TEAMS[0].products;
---

<Page
  title={`${teamName}'s products`}
  description=`Manage the products of the team ${teamName}`
  options={[
    { name: 'Back', url: previousPageUrl(Astro) },
    ...OPTIONS['products']
  ]}
  icon={team.image}
>
  <section>
    <h1>Products of {teamName}</h1>
  </section>
  <section class="col gap">
    {products.map(product => (
      <div class="product-card padding with-border col">
        <div class="row wrap space-between">
          {product.name &&
            <h2 class="no-wrap">{product.name}</h2>
          }
          {product.image &&
            <img src={product.image} alt={product.name} />
          }
        </div>
        <div class="col gap">
          {product.description &&
            <p>{product.description}</p>
          }
          <div class="row space-between wrap gap">
            <span class="">
              Created by {product.createdBy} <DateLabel client:only date={product.createdAt} />
            </span>
            <span class="">
              Updated by {product.updatedBy} <DateLabel client:only date={product.updatedAt} />
            </span>
          </div>
          <a class="btn btn-primary btn-small no-animation">✏️</a>
        </div>
      </div>
    ))}
  </section>
  <section>
    <a class="btn btn-primary">Create a new product</a>
  </section>
</Page>

<style>
  .product-card {
    --img-size: 128px;
  }

  .product-card img {
    aspect-ratio: 1 / 1;
    max-width: 100%;
    width: 128px;
    height: auto;
    object-fit: cover;
    border-radius: 0.5rem;
    margin-bottom: 1rem;

    float: right;
  }
</style>
