---
import "../styles/global.css";
import Navbar from '../components/navbar.astro'
const {
    title, description,
    options,
    icon,
} = Astro.props;
---
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" href="data:image/svg+xml,&lt;svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22&gt;&lt;text y=%22.9em%22 font-size=%2290%22&gt;🛒&lt;/text&gt;&lt;/svg&gt;">
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        {description && <meta name="description" content={description} />}
        {title && <title>Shoplist - {title}</title>}
    </head>
    <body>
        <Navbar mobileTitle={title} options={options} icon={icon} />
        <slot />
    </body>
</html>
