---
import teamService, { client as teamServiceClient } from "../../api/versions/v1/teamService";
import Page from "../../layouts/page.astro";
import { OPTIONS, APPS } from "../../mockup";
import { asUrl } from "../../utils";

const { team_id } = Astro.params;

if (!team_id) {
  return Astro.redirect('/teams', 302);
}

teamServiceClient.addToken(Astro.cookies.get("jwt")!.value);
const result = await teamService.getTeam(team_id);
if (result.isErr()) {
  console.error("Unable to get team:", result.unwrapErr());
  return Astro.redirect("/teams");
}

const team = result.unwrap().data;
---

<Page
  title={team.name}
  description={team.description}
  options={OPTIONS['team']}
  icon={team.image}
>
  <section>
    <h1 class="desktop-only">{team.name}</h1>
    {team.description &&
      <p>{team.description}</p>
    }
  </section>
  <section class="col gap center">
    {APPS.map(app => (
      <a
        class={`app-card btn btn-primary ${!app.enabled ? 'disabled' : ''}`}
        href={app.enabled === false ? undefined : asUrl(`./${app.url}`, Astro)}
      >
        {app.name}
      </a>
    ))}
  </section>
</Page>

<style>
  .app-card {
    display: flex;
    justify-content: center;
    width: calc(100% - 3rem);
  }

  .app-card.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
</style>
