---
import teamService, { client as teamServiceClient } from "../../api/versions/v1/teamService";
import MembersAdministration from "../../components/config/MembersAdministration";
import Debug from "../../layouts/debug.astro";
import { TEAMS } from "../../mockup";
import { ALL_TEAM_ROLES, OPTIONS, TEAM_ROLES, USER } from "../../mockup";
import { previousPageUrl } from "../../utils";

const { team_id } = Astro.params;

if (!team_id) {
  return Astro.redirect('/teams', 302);
}

teamServiceClient.addToken(Astro.cookies.get("jwt")!.value);
const result = await teamService.getTeam(team_id);
if (result.isErr()) {
  console.error("Unable to get team:", result.unwrapErr());
  return Astro.redirect("/teams");
}

const team = result.unwrap().data;

const teamRoles = ALL_TEAM_ROLES[TEAMS[0].id]; // TODO mockup for now
const myRole = TEAM_ROLES.find((teamRole: any) => teamRole.team.id === team.id);

if (!myRole) {
  return Astro.redirect('/teams', 302);
}

const iAmAdmin = myRole.role === 'admin';
---
<Debug
  title=`Shoplist - ${team.name} security`
  description=`Manage users within ${team.name}`
  options={[
    { name: 'Back', url: previousPageUrl(Astro) },
    ...OPTIONS['security-team']
  ]}
>
  <section class="col gap">
    <h1>Members of {team.name}</h1>
    {iAmAdmin &&
      <p>You are an admin</p>
    }
    <MembersAdministration
      team={team}
      teamRoles={teamRoles}
      user={USER}
    />
  </section>
</Debug>
