---
import teamService, { client as teamServiceClient } from "../../api/versions/v1/teamService";
// import userService, { client as userServiceClient } from "../../api/versions/v1/userService";
import MembersAdministration from "../../components/config/MembersAdministration";
import Page from "../../layouts/page.astro";
import { TEAMS } from "../../mockup";
import { ALL_TEAM_ROLES, OPTIONS, TEAM_ROLES, USER } from "../../mockup";
import { previousPageUrl } from "../../utils";

const { team_id } = Astro.params;

if (!team_id) {
  return Astro.redirect('/teams', 302);
}

teamServiceClient.addToken(Astro.cookies.get("jwt")!.value);

const teamResult = await teamService.getTeam(team_id);
if (teamResult.isErr()) {
  console.error("Unable to get team:", teamResult.unwrapErr());
  return Astro.redirect("/teams");
}

const team = teamResult.unwrap().data;

// userServiceClient.addToken(Astro.cookies.get("jwt")!.value);
// const [
//   meResult
// ] = await Promise.all([
//   userService.me()
// ]);

// if (meResult.isErr()) {
//   console.error("Unable to get user info:", meResult.unwrapErr());
//   return Astro.redirect("/teams");
// }

// const user = meResult.unwrap().data;
const user = USER;

const teamRoles = ALL_TEAM_ROLES[TEAMS[0].id]; // TODO mockup for now
---
<Page
  title=`Shoplist - ${team.name} security`
  description=`Manage users within ${team.name}`
  options={[
    { name: 'Back', url: previousPageUrl(Astro) },
    ...OPTIONS['security-team']
  ]}
>
  <section class="col gap">
    <h1>Members of {team.name}</h1>
    <MembersAdministration
      team={team}
      teamRoles={teamRoles}
      user={user}
      client:only
    />
  </section>
</Page>
