---
import userService, { client as userServiceClient } from "../../api/versions/v1/userService";
import { INFINITE_VALIDATION_TIMEOUT } from "../../components/form/textField";
import CopyTextField from "../../components/form/textField/CopyTextField";
import Page from "../../layouts/page.astro";
import { IMAGES, OPTIONS } from "../../mockup";

userServiceClient.addToken(Astro.cookies.get("jwt")!.value);
const result = await userService.me();
if (result.isErr()) {
  console.error("Unable to get current user:", result.unwrapErr());
  return Astro.redirect("/");
}
const user = result.unwrap().data;

user.image = IMAGES["1:1"]; // TODO
---

<Page
  title="Profile"
  description="Manage your profile"
  options={OPTIONS['profile']}
>
  <section class="col gap">
    <h1>{user.name}'s profile</h1>
    <div class="row gap">
      <div class="col gap full-w">
        <p>Member since: {new Date(user.created_at).toLocaleDateString()}</p>
        <p>Last updated: {new Date(user.updated_at).toLocaleDateString()}</p>
        <CopyTextField
          label="Id"
          name="user-id"
          initialValue={user.id}
          readonly={true}
          okMessage="User id copied to clipboard"
          okMessageTimeout={INFINITE_VALIDATION_TIMEOUT}
          client:only
        />
      </div>
      <div class="profile-image">
        {user.image &&
          <img src={user.image} alt={`${user.name}'s profile picture`} />
        }
      </div>
    </div>
    <div>
      <a class="btn btn-primary" href="/profile/edit">Edit Profile</a>
      <a id="delete-user" data-user-id={user.id} class="btn btn-danger">Delete user</a>
    </div>
  </section>
</Page>

<script>
  import userService from "../../api/versions/v1/userService";

  const deleteButton = document.getElementById("delete-user")!;
  deleteButton.addEventListener("click", async () => {
    const userUuid = deleteButton.dataset["userId"]!;
    const result = await userService.deleteUser(userUuid);
    if (result.isErr()) {
      console.error("Unable to delete user:", result.unwrapErr());
      return;
    }
    window.location.href = "/";
  });
</script>

<style>
  .profile-image {
    margin-right: 0px;
    display: flex;
    align-items: end;
    justify-content: end;
  }

  .profile-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }
</style>
